[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .btn-nav{
  color: #eee !important;
}

[data-theme="dark"] .meta{
  color: #eee !important;
}

.custom-control.border-switch {
  --color: #8b51a3;
  padding-left: 0;
}
.custom-control.border-switch .border-switch-control-input {
  display: none;
}
.custom-control.border-switch .border-switch-control-input:checked ~ .border-switch-control-indicator {
  border-color: var(--color);
}
.custom-control.border-switch .border-switch-control-input:checked ~ .border-switch-control-indicator::after {
  left: 14px;
  background-color: var(--color);
}
.custom-control.border-switch .border-switch-control-indicator {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  top: 4px;
  width: 32px;
  height: 20px;
  background: #fff;
  border-radius: 16px;
  transition: .3s;
  border: 2px solid #ccc;
}
.custom-control.border-switch .border-switch-control-indicator::after {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: .3s;
  top: 2px;
  left: 2px;
  background: #ccc;
}